.info {
  margin-left: 1em;
  padding: 1em;
  background-color: #c6cbbb75;
  border: 1px solid #1F2D3D;
  border-top: none;
  border-right: none;
  box-shadow: 1px 1px 5px 0 #00000070;
  width: 10em;
  height: 100%;
  overflow-y: scroll;

  .title {
    margin-top: 0;
  }

  .hr {
    border: 1px solid black;
    border-bottom: 0;
  }
}
