.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background-color: #c6cbbbdb;
    align-items: center;
    max-height: 70%;

    .title {
      margin: 0 0 0.5em 0;
      cursor: default;
    }

    .content {
      overflow-y: scroll;
      padding: 5px;
      width: 100%;
      border: 1px solid #0000002b;
    
      .row {
        margin: 1em 0;
        display: flex;
        width: 100%;
        align-items: center;

        &.fileName {
          background-color: gainsboro;
          box-shadow: 1px 1px 5px 0 #00000070;
          padding: 0.6em;
          box-sizing: border-box;
          justify-content: center;
          font-weight: 600;
          font-style: italic;
          cursor: pointer;

          @media (hover: hover) {
            &:hover {
              box-shadow: 0 0 9px 2px #0000004f;
            }
          }
        }
    
        &.dropzone {
          background-color: white;
          cursor: pointer;
          padding: 0.6em;
          box-sizing: border-box;
          justify-content: center;
          text-align: center;
          border: solid 1px gainsboro;
          box-shadow: 1px 1px 5px 0 #00000070;
          color: #3b3b3b;

          @media (hover: hover) {
            &:hover {
              box-shadow: 0 0 9px 2px #0000004f;
            }
          }
        }
    
        .label {
          flex-basis: 6em;
          margin-right: 0.5em;
        }
    
        .input {
          border: none;
          padding: 0.4em;
          flex-grow: 1;
  
          &.checkbox {
            flex: initial;
          }
        }
      }
    }


    .footer {
      flex-direction: column;
      display: flex;
      align-items: center;
      text-align: center;

      .downloadButton {
        margin-top: 0.5em;
      }
  
      .error {
        color: #d33368;
        font-size: 0.8em;
        margin-top: 0.8em;
      }
    }
  }
}
