.wrapper {
  width: 100%;
  height: 100%;
  background-color: #39551c;

  .bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-image: url("../../sprites/farmBg.png");
    background-color: #39551c;
    opacity: 0.4;
    pointer-events: none;
  }

  &.feeding {
    cursor: url("../../sprites/food3.png"), auto;
  }

  .version {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    font-weight: 600;
    color: #ffffff50;
    text-decoration: none;
  }
}
