.wrapper {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-image: url("../../sprites/farmBg.png");
  background-color: #39551c;

  .canvas {
    transform: scale(2);
    transform-origin: top left;
  }
}