.hungerRow {
  display: flex;
  align-items: center;

  .hungerLabel {
    margin-right: 0.3125em;
  }

  .hungerMeter {
    border: 1px solid black;
    margin-top: 4px;
    height: 0.5rem;
    flex-grow: 1;
    background: linear-gradient(90deg, rgba(73,157,0,1) 0%, rgba(253,124,29,1) 50%, rgba(210,0,0,1) 100%);

    .hungerMarker {
      position: relative;
      width: 4px;
      background: black;
      height: 1.2rem;
      top: -0.35rem;
    }
  }
}
