.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  z-index: 2;

  a {
    padding: 0.5em;
    text-decoration: none;
    color: #1F2D3D;
    background-color: #C6CBBB;
    transition: background-color 0.3s;
    font-weight: 600;
    margin-right: 0.5em;

    @media (hover) {
      &:hover {
        background-color: #B4C292;
      }
    }
  }
}
